.wrapper {
    min-height: 65vh;
background: #e8f2f7;
    width: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.container {
    width: 1140px;
}

.route {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.route_link {
    font-size: 16px;
    color: #003553;
    font-weight: 600;
    text-decoration: none;
}

.content {
    margin: auto;
    width: 836px;
}

.title {
    color: #00b5f1;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 42px;
}

.right_button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: #003553;
    cursor: pointer;
}

.right_button:hover {
    background: linear-gradient(36deg, #00b5f1, #00e0ff);
    color: white;
}

/* form bmi */
#formViewResult {
    display: block;
    margin-top: 0em;
}

.check_bmi_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.check_bmi_box h3 {
    color: #00b5f1;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    margin: 0 0 30px;
}

.box {
    background-color: #ffffff;
    width: calc((100% - 40px) / 3);
    margin-bottom: 24px;
    padding: 24px 0 35px;
    text-align: center;
    border: 2px solid #f5f5f5;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.box_gioiTinh,
.box_height,
.box_weight {
    padding-bottom: 16px;
}

.radio{
    display: flex;
    margin: 0;
    align-items: flex-start;
    justify-content: space-between;
}   

.radio label{
    color: #534E56;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    position: relative;
    padding: 22px;
}

/* .radio path{
    width:50px;
    height: 50px;
} */

.slider{
    margin: 20px;
    width: 80%;
}

.empty {
    color: #999;
    font-style: italic;
}

.results {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.text {
    font-size: 1em;
}

.hidden {
    display: none;
}



.actions {
    margin-top: 20px;
}

.actions button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}

.btn_primary {
    background-color: #00b5f1;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn_outline {
    background-color: white;
    border: 1px solid #00b5f1;
    color: #00b5f1;
    border-radius: 5px;
}

.btn_primary .btn_outline:hover {
    background: #003553;
}
