@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #003553;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

hr {
    margin: 0;
    height: 1px;
}

.no_click {
    color: #858585 !important;
    cursor: no-drop !important;
}

.unvalid {
    border-color: red !important;
}

/* heigt -width */
.h2 {
    height: 2px;
}

.w20_hf {
    width: 20px;
    height: fit-content;
}
/* end heigt - width */
.mt_40 {
    margin-top: 40px;
}
.mt_20 {
    margin-top: 20px;
}
.mlr_4px {
    margin: 0px 4px;
}

.mlr_20 {
    margin: 0px 20px;
}

.ml_4 {
    margin-left: 4px;
}
.mr_4 {
    margin-right: 4px;
}
.ptb_12 {
    padding-top: 13px;
    padding-bottom: 13px;
}
.mtb_20 {
    margin: 20px 0;
}
/* animation */
.scrollup {
    top: -67.5px !important;
    transition: top 0.5s;
}
.scrolldown {
    top: 0px !important;
    transition: top 0.5s;
}

.translateY_25 {
    transform: translateY(25%);
    transition: transform 0.5s;
}

.translateY_0 {
    transform: translateY(0%);
    transition: transform 0.5s;
}
/* end animation */

/* font */

.textBold {
    font-weight: 700;
}

.textUppercase {
    text-transform: uppercase;
}

.font_weight_600 {
    font-weight: 600 !important;
}

.font_color_b3b7ba {
    color: #b3b7ba !important;
}

.font_size_14 {
    font-size: 14px !important;
}

.font_color-1abc9c {
    color: #1abc9c !important;
}

.font_color_1da1f2 {
    color: #00b5f1 !important;
}

.font_color_858585 {
    color: #858585 !important;
}

.font_color_fff {
    color: #fff !important;
}

.text_align_center {
    text-align: center;
}

/* end font */

.cursor_non {
    cursor: default;
}

.cursor {
    cursor: pointer;
}

.item_hover:hover {
    background-color: #00d5fc;
}

.border_right_non {
    border-right: none !important;
}
.border_non {
    border: none !important;
}

/* background */

.linear_00b5f1_00e0ff_36 {
    background: linear-gradient(36deg, #00b5f1, #00e0ff) !important;
}

.background_eee {
    background-color: #eee !important;
    outline-color: #ccc !important;
}

/* end background */

.flex-end {
    justify-content: flex-end !important;
}

@keyframes a {
    0% {
        left: 100%;
    }
    25% {
        left: calc(100% - 260px);
    }
    75% {
        left: calc(100% - 260px);
    }

    100% {
        left: 100%;
    }
}
.loader {
    display: none;
    transition: all 0.4s;
    gap: 0.8rem;
}

.loader div {
    background-color: rgb(34, 34, 34);
    box-shadow: inset 2px 2px 10px black;
    border-radius: 100%;
    height: 0.5rem;
    width: 0.5rem;
}

.box-load1 {
    animation: brighten 1.2s infinite;
}

.box-load2 {
    animation: brighten 1.2s infinite;
    animation-delay: 0.2s;
}

.box-load3 {
    animation: brighten 1.2s infinite;
    animation-delay: 0.4s;
}

@keyframes brighten {
    100% {
        background-color: rgb(165, 165, 165);
        box-shadow: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

/* display */

.flex_display {
    display: flex !important;
}
