.wrapper {
    width: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.container {
    width: 1140px;
}

.route {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.route_link {
    font-size: 16px;
    color: #003553;
    font-weight: 600;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.left {
    flex: 1;
}

.left_container,
.right_container {
    background-color: #fffaa7;
    border-radius: 12px;
}

.title {
    position: relative;
    background: linear-gradient(36deg, #00b5f1, #00e0ff);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.title_edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 1;
}

.left_body_item {
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
}
.item_icon {
    flex: 1;
}

.item_content {
    flex: 7;
}

.item_content p {
    margin: 0;
}

.right {
    flex: 3;
}
.right_body {
    padding: 20px;
}

.search_input {
    margin-bottom: 20px;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #1da1f2;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px 8px;
    border-radius: 4px;
}

.search_input::placeholder {
    color: #bfbfbf;
}

.right_body_result {
    height: 416px;
    overflow-y: scroll;
}

/* width */
.right_body_result::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.right_body_result::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
.right_body_result::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
.right_body_result::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.result_item {
    padding: 15px 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #e6bb7b;
    cursor: pointer;
}
.result_item_link {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #003553;
    padding: 15px 0;
}

.result_item:hover {
    color: #00a8ff;
}

.right_button_left {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #003553;
    cursor: pointer;
}

.right_button_left:hover {
    background: linear-gradient(36deg, #00b5f1, #00e0ff);
    color: white;
}

.right_container_down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_button_right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(36deg, #00b5f1, #00e0ff);
    color: white;
    cursor: pointer;
    min-height: 37px;
    min-width: 115.2px;
}

.right_button_right:hover {
    background: linear-gradient(80deg, #00e0ff, #00b5f1);
}

.skeleton {
    padding: 12px 16px;
    margin: 0 12px 24px;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    from {
        background-color: hsl(200, 20%, 80%);
    }
    to {
        background-color: hsl(200, 20%, 95%);
    }
}

.noti {
    width: 200px;
    padding: 20px 30px;
    position: absolute;
    top: 15%;
    left: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    gap: 20px;
    align-items: center;
}
