.btndisabled {
    cursor: no-drop;
    opacity: 0.2;
}

.container {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 6;
}

.left_item {
    padding: 10px 0;
}
.right {
    flex: 5;
}
.right_title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}

.right_body {
    border-radius: 12px;
    border: 1px solid #1da1f2;
    padding: 8px;
}

.body_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e6bb7b;
}
.body_result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 500;
}
