.form_container{
  border-radius: 8px; 
  border: 1px solid #fff; 
  margin-top: 20px;
  background-color: #fff;
  position: relative;
}   


.select{
  background: linear-gradient(36deg, #00b5f1, #00e0ff);   
  color: #fff;
  display: flex;
  padding: 10px;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.table_container{
    width: 95%;
    margin: 20px;

}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    font-size: 12px;
    background-color: #f2f2f2;
  }
  
  .table td {
    font-size: 10px;
    background-color: #fff;
  }