.form_container{
    border-radius: 8px; 
    border: 1px solid #fff; 
    margin-top: 20px;
    background-color: #fff;
    position: relative;
}   

.select{
    background: linear-gradient(36deg, #00b5f1, #00e0ff);   
    color: #fff;
    display: flex;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.form_phieu{
    margin: 15px;
    padding: 15px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    display: flex;
}

.cosoyte{
    font-weight: bold;
    color: #00b5f1
}

.info{
    width: 650px;
}


.container{ 
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container label {
    display: inline-block;
    width: 150px; 
  }

  .container p {
    display: inline-block;
    margin-left: 2px;
    font-weight: bold; 
  }

